* {
    box-sizing: border-box;
  }
  
  @font-face {
      font-family: 'LatoBlack';
      font-display: swap;
      src: url('assets/fonts/Lato-Black.eot');
      src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  } 
  
  
  @font-face {
      font-family: 'LatoBlack';
      src: url('assets/fonts/Lato-Black.woff2') format('woff2'),
           url('assets/fonts/Lato-Black.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    
  @font-face {
      font-family: 'LatoBold';
      src: url('assets/fonts/Lato-Bold.woff2') format('woff2'),
           url('assets/fonts/Lato-Bold.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'LatoRegular';
      src: url('assets/fonts/Lato-Regular.woff2') format('woff2'),
           url('assets/fonts/Lato-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  
  @font-face {
      font-family: 'LatoLight';
      src: url('assets/fonts/Lato-Light.woff2') format('woff2'),
           url('assets/fonts/Lato-Light.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper-part3 {
      max-width: 1020px;
      width: 100%;
      margin: 0 auto 0;
  }

  .quote-block{
      background-color: #f06c64;
  }

.paragraph-before-form,
.form,
.footer{
    max-width: 940px;
    margin:0 auto;
}

  .paragraph-before-form h2 {
    margin-top: 0;
    padding-top: 62px;
    font-size: 30px;
    font-family: 'LatoRegular';
    font-weight: bold;
    color: #f0d8d9;
    margin-bottom: 0;
  }

  .paragraph-before-form p{
    font-size: 18px;
    line-height: 28px;
    color: #f0d8d9;
    font-family: 'LatoLight';
  }

  .form{
    display: flex;
  }

  .form-block{
    padding-top: 26px;
    width: 618px;
  }

  .form-block input,
  .form-block textarea{
    width: 618px;
    margin-top: 15px;
  }

  .form-block input:first-child{
      margin-top: 0;
  }

  .form input{
    padding: 13px 0 10px 14px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
  }

  .form textarea{
    padding: 13px 0 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    font-size: 12px;
    font-family: 'LatoRegular';
    max-width: 618px;
    max-height: 201px;
    min-width: 618px;
    min-height: 201px;
  }

  .contact-information {
    padding-left: 21px;
  }

  .contact-information h3{
    margin: 0;
    padding-top: 25px;
    font-size: 19px;
    font-family: 'LatoRegular';
    color: #f0d8d9;
  }

  .information-after-heading{
    margin: 0;
    padding-top: 8px;
    font-size: 11px;
    font-family: 'LatoRegular';
    line-height: 22px;
    color: #f0d8d9;
  }