* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'LatoBlack';
	font-display: swap;
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 


@font-face {
    font-family: 'LatoBlack';
    src: url('assets/fonts/Lato-Black.woff2') format('woff2'),
         url('assets/fonts/Lato-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'LatoBold';
    src: url('assets/fonts/Lato-Bold.woff2') format('woff2'),
         url('assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('assets/fonts/Lato-Regular.woff2') format('woff2'),
         url('assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'LatoLight';
    src: url('assets/fonts/Lato-Light.woff2') format('woff2'),
         url('assets/fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
}

.wrapper-part2 {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 0;
}
.portfolio {
    background-color: #2d303a;
}

.portfolio-content-width {
    max-width: 940px;
    margin: 0 auto;
}

.portfolio h2 {
    color: #666d89;
    margin-top: 0;
    padding-top: 65px;
    padding-bottom: 8px;
}

.portfolio p {
    color: #626983;
}

.portfolio-nav ul{
    display: flex;
    padding: 0;
}

.portfolio-nav li {
    list-style: none;
    margin-right: 9px;
    border: 1px solid #626983;
    border-radius: 5px;
    padding: 2px 0px;
}

.portfolio-nav a {
    text-decoration: none;
    color: #626983;
}
.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 940px;
    padding-bottom: 48px;
}
.portfolio-image-block {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 220px;
    height: 187px;
}
 .portfolio-image-block:nth-child(4n + 4) {
     margin-right: 0;
 }

 .first-row-first-image {
    background-image: url(assets/Project.png);
    background-position: -8px -10px;
 }

.first-row-second-image{
    background-image: url(assets/Project_1.png);
    background-position: -82px -43px;
}

.first-row-third-image{
    background-image: url(assets/Layer\ 9.png);
    background-position: -12px 0px;
}
.first-row-fourth-image {
    background-image: url(assets/Project_2.png);
    background-position: -23px -1px;
}

.second-row-first-image{
    background-image: url(assets/Project_3.png);
    background-position: -11px -15px;
}

.second-row-second-image {
    background-image: url(assets/Project_4.png);
    background-position: -16px -2px;
}

.second-row-third-image {
    background-image: url(assets/Layer\ 11.png);
    background-position: -31px -37px;
}

.second-row-fourth-image {
    background-image: url(assets/Layer\ 8.png);
    background-position: -24px -31px;
}

.third-row-first-image {
    background-image: url(assets/Project_8.png);
    background-position: -16px -1px;
}

.third-row-second-image{
    background-image: url(assets/Project_5.png);
    background-position: -141px -111px
}

.third-row-third-image {
    background-image: url(assets/Project_6.png);
    background-position: -144px -174px;
}

.third-row-fourth-image {
    background-image: url(assets/Project_7.png);
    background-position: -36px -59px;
}

.line-after-portfolio{
    height: 6px;
    background-color: #323746;
}

.about-us h2{
    color: #666d89;
    padding-top: 41px;
}

.paragraph-after-heading {
    color: #767e9e;
    padding-bottom: 57px;
}

.about-us-information {
    display: flex;
}

.information-block {
    width: 300px;
    margin-right: 20px;
}

.information-block:last-child {
    margin-right: 0;
}

.information-block h3 {
    color: #666d89;
}

.information-block p {
    color: #a8acbf;
}



.line-after-about-us{
    height: 6px;
    background-color: #fff;
}