* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'LatoBlack';
	font-display: swap;
	src: url('assets/fonts/Lato-Black.eot');
	src: local('☺'), url('assets/fonts/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 


@font-face {
    font-family: 'LatoBlack';
    src: url('assets/fonts/Lato-Black.woff2') format('woff2'),
         url('assets/fonts/Lato-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'LatoBold';
    src: url('assets/fonts/Lato-Bold.woff2') format('woff2'),
         url('assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('assets/fonts/Lato-Regular.woff2') format('woff2'),
         url('assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'LatoLight';
    src: url('assets/fonts/Lato-Light.woff2') format('woff2'),
         url('assets/fonts/Lato-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
}

.wrapper-part2 {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto 0;
}
.portfolio {
    background-color: #2d303a;
}

.portfolio-content-width {
    max-width: 940px;
    margin: 0 auto;
}

.portfolio h2 {
    color: #666d89;
    margin-top: 0;
    padding-top: 65px;
    padding-bottom: 3px;
    font-family: 'LatoBlack';
    font-size: 26px;
    letter-spacing: 2px;
}

.portfolio p {
    color: #626983;
    font-family: 'LatoLight';
    word-spacing: 4px;
    margin-bottom: 15px;
}

.portfolio-content-width button {
    margin-right: 4px;
    border: 1px solid #626983;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 8px;
    background-color: #2d303a;
    color: #767e9e;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'LatoLight';
    font-size: 12px;
}

.portfolio-content-width button:hover {
    color: #dedede;
    border: 1px solid #dedede;
}

.portfolio-images {
    padding-bottom: 67px;
}

.images-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 940px;
    overflow: hidden;
    max-height: 601px;
    margin: 0 auto;
}

.portfolio-image-block {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 220px;
    height: 187px;
}
 .portfolio-image-block:nth-child(4n + 4) {
     margin-right: 0;
 }

 .first-row-first-image {
    background-image: url(assets/Project.png);
    background-position: -8px -10px;
 }

.first-row-second-image{
    background-image: url(assets/Project_1.png);
    background-position: -82px -43px;
}

.first-row-third-image{
    background-image: url(assets/Layer\ 9.png);
    background-position: -12px 0px;
}
.first-row-fourth-image {
    background-image: url(assets/Project_2.png);
    background-position: -23px -1px;
}

.second-row-first-image{
    background-image: url(assets/Project_3.png);
    background-position: -11px -15px;
}

.second-row-second-image {
    background-image: url(assets/Project_4.png);
    background-position: -16px -2px;
}

.second-row-third-image {
    background-image: url(assets/Layer\ 11.png);
    background-position: -31px -37px;
}

.second-row-fourth-image {
    background-image: url(assets/Layer\ 8.png);
    background-position: -24px -31px;
}

.third-row-first-image {
    background-image: url(assets/Project_8.png);
    background-position: -16px -1px;
}

.third-row-second-image{
    background-image: url(assets/Project_5.png);
    background-position: -141px -111px
}

.third-row-third-image {
    background-image: url(assets/Project_6.png);
    background-position: -144px -174px;
}

.third-row-fourth-image {
    background-image: url(assets/Project_7.png);
    background-position: -36px -59px;
}

.line-after-portfolio{
    height: 6px;
    background-color: #323746;
}

.about-us {
    background-color: #f2f2f2;
}

.about-us h2{
    color: #666d89;
    padding-top: 64px;
    margin-top: 0;
    font-family: 'LatoBlack';
    font-size: 29px;
    padding-left: 2px;
    padding-bottom: 17px;
    margin:0;
}

.paragraph-after-heading {
    color: #767e9e;
    padding-bottom: 45px;
    margin: 0;
    font-family: 'LatoLight';
    line-height: 29px;
    font-size: 18px;
    letter-spacing: -0.02rem;
}

.about-us-information {
    display: flex;
    padding-bottom: 59px;
}

.information-block {
    width: 300px;
    margin-right: 20px;
}

.information-block:last-child {
    margin-right: 0;
}

.information-block h3 {
    color: #666d89;
    margin: 0;
    padding-top: 9px;
    font-family: 'LatoLight';
}

.information-block p {
    color: #a8acbf;
    margin: 0;
    font-size: 12px;
    font-family: 'LatoLight';
    padding-top: 9px;
    line-height: 19px;
    padding-bottom: 26px;
}

.social-networks{
    position: relative;
}

.social-networks img:hover{
    cursor: pointer;
}

.first-block-twitter{
    position: absolute;
    top:0px;
    left: 80px;
}

.first-block-linkedin{
    position: absolute;
    top:0px;
    left: 119px;
}

.second-block-facebook{
    position: absolute;
    top: -1px;
    left: -1px;
}

.second-block-google{
    position: absolute;
    top: -1px;
    left: 39px;
}

.second-block-twitter{
    position: absolute;
    top: -1px;
    left: 79px;
}

.second-block-linkedin{
    position: absolute;
    top: -1px;
    left: 119px;
}

.third-block-facebook{
    position: absolute;
    top: -1px;
    left: -1px;
}

.third-block-google{
    position: absolute;
    top: -1px;
    left: 39px;
}

.third-block-twitter{
    position: absolute;
    top: -1px;
    left: 79px;
}

.third-block-linkedin{
    position: absolute;
    top: -1px;
    left: 119px;
}

.line-after-about-us{
    height: 6px;
    background-color: #fff;
}